body{
  margin: 0;
  padding: 0;
  text-align: center;
}

.view-port {
  padding: 0;
  width: 100%;

  overflow: hidden;
  transition: all 800ms ease 0s;
}

.container {
  margin: 0 auto;
  width: 3300px;
  display: flex !important;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-between;
}

nav{
  position: relative;
  z-index: 1;
}

.button {
  font-size: 2rem;
  background-color: red;
  color: white;
  border: none;
  border-radius: 20%;
}

.button:hover{
  cursor: pointer;
}

.left-button {
  position: absolute;
  top:100px;
  left:0;
}

.right-button {
  position: absolute;
  top:100px;
  right:0;
}

img{
  border:10px solid transparent;
  transition: all 500ms ease 0s;
}

img.active{
  border:10px solid lightskyblue;
}